h1#titolMembre {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}


.paragrafMembre,
.dadesMembre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}

.paragrafMembre a {
    color: deepskyblue;
    font-weight: bold;
}

.dadesMembre li {
    border: 1px solid black;
    background-color: #f3e199;
    width: 30%;
    margin: 5px;
    list-style: none;
}

.imatgeMembre {
    width: 400px;
    margin: 10px;
}

.blocError {
    background-color: #e7b26d;
    border: 1px solid red;
    padding: 1rem;
    margin: 1rem;
}