h1#titolUsuari {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.imatgeUsuari {
    width: 400px;
    margin: 10px;
}

body {
    background-color: #DDD;

}

h2#subtitolUsuari {
    width: 50%;
    color: blue;
    border: solid red 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #a9bdad;
    color: #ffffff;
    text-align: middle;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.paragrafUsuari {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}